{% extends 'base.html' %}

{% block title %}Remove Project Manager{% endblock %}

{% block content %}
    <h1>Remove Project Manager</h1>
    <p>Are you sure you want to remove "{{ object.user.get_full_name }}" as a manager from the project "{{ object.project.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Remove</button>
        <a href="{% url 'project:project_detail' object.project.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}